# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Data artifacts
data/
*.csv

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
*.swp
